In [35]:
from pandasql import sqldf
import pandas as pd
df = pd.read_csv("data.csv")
df.rename(columns={"date timestamp": "date"}, inplace=True)

query = """
SELECT 
    DATE(date) AS transaction_date,
    strftime('%H', date) AS transaction_hour,
    COUNT(transaction_id) AS total_transactions,
    COUNT(DISTINCT user_id) AS unique_users,
    SUM(transaction_amount) AS total_transaction_amount
FROM df
GROUP BY transaction_date, transaction_hour
ORDER BY transaction_date, transaction_hour;
"""
result = sqldf(query)
print(result.head())

  transaction_date transaction_hour  total_transactions  unique_users  \
0             None             None                   1             1

   total_transaction_amount
0                         0

In [36]:
import pandas as pd

df = pd.read_csv("data.csv")

df.rename(columns={"date timestamp": "date"}, inplace=True)
df["date"] = pd.to_datetime(df["date"])

df["transaction_date"] = df["date"].dt.date
df["transaction_hour"] = df["date"].dt.hour

grouped = df.groupby(["transaction_date", "transaction_hour"]).agg(
    total_amount=("transaction_amount", "sum")
).reset_index()

max_hour = grouped.loc[
    grouped.groupby("transaction_date")["total_amount"].idxmax()
].reset_index(drop=True)

print(max_hour)

  transaction_date  transaction_hour  total_amount
0       2025-05-22                 0             0