# Credit Card Transactions Analysis
This notebook analyzes a dataset containing the log of all credit card transactions for the years 2022 and 2023. The analysis includes:
- Calculating total transactions, unique users, and total transaction amount for every date and hour combination.
- Identifying the hour with the highest transaction amount for every date.

In [1]:
import pandas as pd
import datetime

## 1. Data Loading

Loading the transaction data and inspecting the first few rows.

Assumption of data-schema: date timestamp, user_id, transaction_id, transaction_amount

In [2]:
df=pd.read_csv("data.csv")
df.head()

  date timestamp  user_id  transaction_id  transaction_amount
0      22-May-25        0               0                   0

## 2. Data Preparation

Parsing the timestamp column and extracting the date and hour.

In [3]:
df["date timestamp"]=pd.to_datetime(df["date timestamp"])
df["date"]=df["date timestamp"].dt.date
df["hour"]=df["date timestamp"].dt.hour

## 3. Aggregation by Date and Hour

Calculating total transactions, unique users, and total transaction amount for every date and hour combination.

In [4]:
agg_df=df.groupby(["date", "hour"]).agg(total_transactions=("transaction_id","count"),
                                        unique_users=("user_id","nunique"),
                                        total_transaction_amount=("transaction_amount","sum")
                                        ).reset_index()

In [30]:
print("Aggregated by date and hour:\n",agg_df)

Aggregated by date and hour:
          date  hour  total_transactions  unique_users  \
0  2025-05-22     0                   1             1

   total_transaction_amount
0                         0

## 4. Hour with Highest Transaction Amount per Date

Identifying the hour with the highest transaction amount for each date

In [28]:
max_hour_df = agg_df.loc[agg_df.groupby("date")["total_transaction_amount"].idxmax()][["date", "hour", "total_transaction_amount"]]
max_hour_df = max_hour_df.rename(columns={"hour": "max_hour", "total_transaction_amount": "max_hour_transaction_amount"})

In [31]:
print("Hour with highest transaction amount for each date:\n",max_hour_df)

Hour with highest transaction amount for each date:
          date  max_hour  max_hour_transaction_amount
0  2025-05-22         0                            0